*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    font-family:"Inter",sans-serif;

    background:#141414;

    overflow-x:hidden;

}

.app{

    min-height:100vh;

    position:relative;

    background:
        radial-gradient(
            circle at top,
            rgba(229,9,20,.18),
            transparent 30%
        ),
        radial-gradient(
            circle at 80% 20%,
            rgba(255,255,255,.04),
            transparent 25%
        ),
        linear-gradient(
            to bottom,
            #111111,
            #141414 20%,
            #181818 45%,
            #141414 100%
        );

    color:#ffffff;

}
.app{

    overflow:hidden;

}

.search-wrapper{

    position:relative;

    z-index:20;

}